// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Development Configuration
DISPLAY_NAME = ShredMate Dev
PRODUCT_BUNDLE_IDENTIFIER = com.shredmate.app.dev
API_BASE_URL = https://api-dev.shredmate.app
ENVIRONMENT = DEV
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) DEV
